In [39]:
 import pandas as pd
import numpy as np
import matplotlib as plt
import warnings
warnings.filterwarnings('ignore')

In [40]:
# Function to replace semicolon with comma
def semicolon_to_comma(name):

    reading_file = open(name + ".csv", "r")
    new_file_content = ""
    for line in reading_file:
        stripped_line = line.strip()
        new_line = stripped_line.replace(";", ",")
        new_file_content += new_line +"\n"
    reading_file.close()
    writing_file = open(name + ".csv", "w")
    writing_file.write(new_file_content)
    writing_file.close()

In [41]:
file_name = 'beacons_dataset'
semicolon_to_comma(file_name)

In [42]:
# Creat a dataframe for the beacons_dataset
beacons = pd.read_csv(file_name + '.csv')
beacons

      part_id   ts_date   ts_time         room
0        3089  20170915  06:45:22      Kitchen
1        3089  20170915  06:45:33      Bedroom
2        3089  20170915  06:45:39      Outdoor
3        3089  20170915  06:45:53      Bedroom
4        3089  20170915  06:46:09      Outdoor
...       ...       ...       ...          ...
58628    2138  20181202  17:39:27      Kitchen
58629    2138  20181202  20:09:08      Bedroom
58630    2138  20181202  20:21:52      Kitchen
58631    2138  20181203  06:46:44  Sittingroom
58632    2138  20181205  10:36:16      Kitchen

[58633 rows x 4 columns]

In [43]:
beacons['part_id'].value_counts(dropna=False)

test    9841
3600    1733
3142    1459
3086    1434
3098    1391
        ...
1061       1
2137       1
1548       1
1529       1
1508       1
Name: part_id, Length: 309, dtype: int64

In [44]:
# Part B.1.2: Remove all entries with error in part_id
values = ['test', 'new', 'cert', 'Tria', 'Test', 'New',
          'Thom', 'Cert', 'newt', '123.', 'tria', '124', 'Newt',
          'newf', 'Newp', '12_3', 'Agla', 'Iti_']
beacons = beacons[beacons.part_id.isin(values) == False]
beacons

      part_id   ts_date   ts_time         room
0        3089  20170915  06:45:22      Kitchen
1        3089  20170915  06:45:33      Bedroom
2        3089  20170915  06:45:39      Outdoor
3        3089  20170915  06:45:53      Bedroom
4        3089  20170915  06:46:09      Outdoor
...       ...       ...       ...          ...
58628    2138  20181202  17:39:27      Kitchen
58629    2138  20181202  20:09:08      Bedroom
58630    2138  20181202  20:21:52      Kitchen
58631    2138  20181203  06:46:44  Sittingroom
58632    2138  20181205  10:36:16      Kitchen

[46782 rows x 4 columns]

In [45]:
# Part B.1.1: Correct room labels
beacons['room'] = beacons.room.str.replace(r'(^.*K.*$)', 'Kitchen')
beacons['room'] = beacons.room.str.replace(r'(^.*k.*$)', 'Kitchen')
beacons['room'] = beacons.room.str.replace(r'(^.*Pantry.*$)', 'Kitchen')
beacons['room'] = beacons.room.str.replace(r'(^.*Liv.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*liv.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Leav.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*leav.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Sit.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*sit.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Luv.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*TV.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Seat.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Lin.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Din.*$)', 'LivingRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Bed.*$)', 'BedRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*bed.*$)', 'BedRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*2.*$)', 'BedRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Off.*$)', 'Office')
beacons['room'] = beacons.room.str.replace(r'(^.*Libr.*$)', 'Office')
beacons['room'] = beacons.room.str.replace(r'(^.*B*th.*$)', 'BathRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Bagh.*$)', 'BathRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Bagh.*$)', 'BathRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Veranda.*$)', 'Outdoor')
beacons['room'] = beacons.room.str.replace(r'(^.*Garden.*$)', 'Outdoor')
beacons['room'] = beacons.room.str.replace(r'(^.*Guard.*$)', 'Outdoor')
beacons['room'] = beacons.room.str.replace(r'(^.*Bed.*$)', 'BedRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Chamb.*$)', 'BedRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Exit.*$)', 'Entrance')
beacons['room'] = beacons.room.str.replace(r'(^.*Lau.*$)', 'LaundryRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Wash.*$)', 'LaundryRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Wash.*$)', 'LaundryRoom')
beacons['room'] = beacons.room.str.replace(r'(^.*Box.*$)', 'Storage')
beacons['room'] = beacons.room.str.replace(r'(^.*LaundryRoom.*$)', 'Storage')
beacons['room'] = beacons.room.str.replace(r'(^.*One.*$)', 'Undefined')
beacons['room'] = beacons.room.str.replace(r'(^.*Two.*$)', 'Undefined')
beacons['room'] = beacons.room.str.replace(r'(^.*Four.*$)', 'Undefined')
beacons['room'] = beacons.room.str.replace(r'(^.*T.*$)', 'Undefined')

In [46]:
values = ['Undefined', None]
beacons = beacons[beacons.room.isin(values) == False]
beacons

      part_id   ts_date   ts_time        room
0        3089  20170915  06:45:22     Kitchen
1        3089  20170915  06:45:33     BedRoom
2        3089  20170915  06:45:39     Outdoor
3        3089  20170915  06:45:53     BedRoom
4        3089  20170915  06:46:09     Outdoor
...       ...       ...       ...         ...
58628    2138  20181202  17:39:27     Kitchen
58629    2138  20181202  20:09:08     BedRoom
58630    2138  20181202  20:21:52     Kitchen
58631    2138  20181203  06:46:44  LivingRoom
58632    2138  20181205  10:36:16     Kitchen

[46764 rows x 4 columns]

In [47]:
beacons['ts_date'] = beacons['ts_date'].astype('str')
beacons['ts_time'] = beacons['ts_time'].astype('str')
beacons['datetime'] = beacons['ts_date'] + ' ' + beacons['ts_time']
beacons['datetime'] = pd.to_datetime(beacons['datetime'], format='%Y%m%d %H:%M:%S')
beacons

      part_id   ts_date   ts_time        room            datetime
0        3089  20170915  06:45:22     Kitchen 2017-09-15 06:45:22
1        3089  20170915  06:45:33     BedRoom 2017-09-15 06:45:33
2        3089  20170915  06:45:39     Outdoor 2017-09-15 06:45:39
3        3089  20170915  06:45:53     BedRoom 2017-09-15 06:45:53
4        3089  20170915  06:46:09     Outdoor 2017-09-15 06:46:09
...       ...       ...       ...         ...                 ...
58628    2138  20181202  17:39:27     Kitchen 2018-12-02 17:39:27
58629    2138  20181202  20:09:08     BedRoom 2018-12-02 20:09:08
58630    2138  20181202  20:21:52     Kitchen 2018-12-02 20:21:52
58631    2138  20181203  06:46:44  LivingRoom 2018-12-03 06:46:44
58632    2138  20181205  10:36:16     Kitchen 2018-12-05 10:36:16

[46764 rows x 5 columns]

In [48]:
beacons = beacons.drop(['ts_date', 'ts_time'], axis=1)
beacons = beacons.sort_values(['part_id', 'datetime'], ascending=[True, False])
beacons

      part_id        room            datetime
37356    1001     Kitchen 2018-05-01 19:36:53
37355    1001  LivingRoom 2018-05-01 19:33:36
37354    1001     Kitchen 2018-05-01 19:30:26
37353    1001  LivingRoom 2018-05-01 18:34:43
37352    1001     Kitchen 2018-05-01 18:29:06
...       ...         ...                 ...
15001    3611     Outdoor 2018-01-16 08:46:21
15000    3611     Kitchen 2018-01-16 08:42:17
14999    3611    BathRoom 2017-12-27 08:22:06
14998    3611     BedRoom 2017-12-27 08:22:05
14997    3611     Outdoor 2017-12-27 08:22:04

[46764 rows x 3 columns]

In [49]:
# Create lag features
def create_lags(dataset, num):
    new_dict = {}
    for col_name in dataset:
        new_dict[col_name] = dataset[col_name]
        # create lagged Series
        for l in range(1, int(num) + 1):
            new_dict['%s_lag%d' % (col_name, l)] = dataset[col_name].shift(l)
    res = pd.DataFrame(new_dict, index=dataset.index)
    res = res.fillna(0)
    return res

In [50]:
beacons = create_lags(beacons, 1)
beacons = beacons.filter(['part_id', 'part_id_lag1', 'room', 'datetime', 'datetime_lag1'])
beacons.datetime_lag1.iloc[0] = beacons.datetime_lag1.iloc[1]
beacons['datetime_lag1'] =  pd.to_datetime(beacons['datetime_lag1'], format='%Y%m%d %H:%M:%S')
beacons = beacons.rename(columns={'datetime': 'start_time', 'datetime_lag1': 'end_time'})

In [51]:
beacons['diff'] = (beacons['end_time'] - beacons['start_time'])
beacons['diff'] = beacons['diff'].astype('timedelta64[s]')
beacons['diff'] = np.where(beacons['part_id'] != beacons['part_id_lag1'], '0', beacons['diff'])
beacons = beacons.drop(['part_id_lag1','start_time', 'end_time'], axis=1)

In [52]:
beacons = beacons.pivot_table(values='diff', index='part_id', columns='room', aggfunc='first')
beacons.dropna(axis = 0, how = 'all', inplace = True)
beacons.drop(columns=beacons.columns[0], axis=1, inplace=True)
beacons = beacons.fillna(0)

In [53]:
beacons = beacons.astype(float)
beacons['sum'] = beacons[list(beacons.columns)].sum(axis=1)
beacons.drop(beacons[beacons['sum'] == 0].index, inplace = True)

In [54]:
beacons['BathRoom'] = (beacons['BathRoom'] / beacons['sum']) * 100
beacons['BedRoom'] = (beacons['BedRoom'] / beacons['sum']) * 100
beacons['Entrance'] = (beacons['Entrance'] / beacons['sum']) * 100
beacons['Garage'] = (beacons['Garage'] / beacons['sum']) * 100
beacons['Hall'] = (beacons['Hall'] / beacons['sum']) * 100
beacons['Kitchen'] = (beacons['Kitchen'] / beacons['sum']) * 100
beacons['LivingRoom'] = (beacons['LivingRoom'] / beacons['sum']) * 100
beacons['Office'] = (beacons['Office'] / beacons['sum']) * 100
beacons['Outdoor'] = (beacons['Outdoor'] / beacons['sum']) * 100
beacons['Storage'] = (beacons['Storage'] / beacons['sum']) * 100
beacons

room,BathRoom,BedRoom,Entrance,Garage,Hall,Kitchen,LivingRoom,Office,Outdoor,Storage,sum
part_id,,,,,,,,,,,
1001,7.430730,32.304786,0.0,0.0,47.355164,0.000000,6.202771,0.000000,6.706549,0.0,3176.0
1003,0.273620,0.000000,0.0,0.0,0.177048,77.804603,0.000000,0.000000,21.744729,0.0,6213.0
1005,0.000000,0.000000,0.0,0.0,99.777667,0.000000,0.222333,0.000000,0.000000,0.0,17991.0
1006,98.305596,0.683120,0.0,0.0,0.304725,0.391789,0.000000,0.000000,0.314771,0.0,29863.0
1007,3.496115,71.624121,0.0,0.0,1.775805,0.000000,0.147984,0.000000,22.955975,0.0,5406.0
...,...,...,...,...,...,...,...,...,...,...,...
3593,12.498823,0.847697,0.0,0.0,0.000000,8.985589,0.000000,76.678911,0.988980,0.0,10617.0
3594,0.000000,0.000000,0.0,0.0,0.000000,99.975994,0.001847,0.001154,0.021005,0.0,433220.0
3600,12.019929,3.923604,0.0,0.0,0.000000,0.000000,79.468549,0.000000,4.587918,0.0,4817.0
3601,0.000000,0.014536,0.0,0.0,0.000000,0.000000,90.734180,0.007477,9.243806,0.0,1912459.0
3611,6.663645,19.310970,0.0,0.0,0.000000,24.070716,0.000000,0.000000,49.954669,0.0,2206.0

In [55]:
beacons = beacons.drop(['sum'], axis=1)
beacons = beacons.reset_index().rename_axis(None, axis=1)
beacons = beacons.astype(str)
beacons.shape

(282, 11)

In [56]:
clinical = pd.read_csv('clinicalvol2.csv')
clinical = clinical.astype(str)

In [57]:
merged = pd.merge(clinical, beacons)
merged.to_csv('merged.csv', index = False)
merged

,fried,part_id,activity_regular,gait_speed_4m,gait_get_up,cognitive_total_score,mmse_total_score,depression_total_score,health_rate,leisure_out,...,BathRoom,BedRoom,Entrance,Garage,Hall,Kitchen,LivingRoom,Office,Outdoor,Storage
0,0,1001,2.0,7.0,18.0,25.0,30,1.0,3.0,7.0,...,7.43073047858942,32.30478589420655,0.0,0.0,47.3551637279597,0.0,6.202770780856423,0.0,6.70654911838791,0.0
1,1,1003,1.0,11.0,21.0,26.0,27,1.0,4.0,7.0,...,0.27361982938998874,0.0,0.0,0.0,0.17704812489940447,77.80460325124739,0.0,0.0,21.74472879446322,0.0
2,1,1005,3.0,8.0,42.0,24.0,27,3.0,3.0,7.0,...,0.0,0.0,0.0,0.0,99.77766661108332,0.0,0.22233338891668059,0.0,0.0,0.0
3,0,1006,2.0,6.0,18.0,26.0,29,0.0,5.0,14.0,...,98.30559555302548,0.6831195794126511,0.0,0.0,0.30472491042427086,0.39178917054549106,0.0,0.0,0.31477078659210395,0.0
4,0,1007,2.0,3.0,13.0,26.0,30,3.0,4.0,5.0,...,3.4961154273029966,71.62412134665188,0.0,0.0,1.7758046614872365,0.0,0.14798372179060304,0.0,22.955974842767297,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,1,3593,3.0,2.3,6.2,27.0,27,2.0,4.0,0.0,...,12.498822642931149,0.8476970895733259,0.0,0.0,0.0,8.985589149477253,0.0,76.67891118018272,0.9889799378355468,0.0
269,0,3594,3.0,2.7,8.4,27.0,29,2.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,99.97599372143485,0.0018466368127048611,0.0011541480079405382,0.021005493744517798,0.0
270,0,3600,3.0,2.28,6.06,21.0,27,3.0,4.0,7.0,...,12.019929416649367,3.9236039028440937,0.0,0.0,0.0,0.0,79.46854888935022,0.0,4.587917791156322,0.0
271,1,3601,2.0,2.85,8.22,26.0,28,0.0,4.0,14.0,...,0.0,0.014536259339415904,0.0,0.0,0.0,0.0,90.73418044517555,0.007477284480347029,9.243806011004681,0.0
272,0,3611,3.0,2.6,5.7,29.0,29,1.0,5.0,7.0,...,6.663644605621033,19.31097008159565,0.0,0.0,0.0,24.070716228467816,0.0,0.0,49.9546690843155,0.0